# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Node
node_modules/

# Environment variables
.env

# Firebase
.firebase/

# Build output
dist/
build/

# Cache
.cache/